In [9]:
import numpy as np
import pandas as pd

import altair as alt

In [19]:
df = pd.read_csv('./result/MNIST/result.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,model,n_embeddings,n_ghosts,halving,time_mean,f1_200_mean,f1_500_mean,f1_1000_mean,time_std,f1_200_std,f1_500_std,f1_1000_std
0,GhostUMAP,1,32,True,68.064,0.666,0.636,0.388,2.349,0.017,0.007,0.005
1,GhostUMAP,2,16,True,77.367,0.720,0.671,0.464,1.990,0.037,0.019,0.097
2,GhostUMAP,4,8,True,96.101,0.750,0.727,0.647,2.105,0.015,0.030,0.142
3,GhostUMAP,4,8,False,222.961,0.754,0.726,0.508,3.468,0.017,0.011,0.112
4,GhostUMAP,8,4,True,127.835,0.782,0.749,0.653,2.750,0.021,0.012,0.127
5,GhostUMAP,16,2,True,191.237,0.803,0.777,0.724,2.624,0.012,0.027,0.142
6,GhostUMAP,32,1,False,289.807,0.838,0.801,0.831,4.078,0.019,0.021,0.054